# Coach ERP Intranet Settings
COACH_ERP_BASE_URL=http://10.185.78.45
COACH_ERP_USERNAME=07602546
COACH_ERP_PASSWORD=08041977

# AC Loco ERP Settings
ACLOCO_ERP_BASE_URL=http://locoworks/acloco
ACLOCO_ERP_USERNAME=07602546
ACLOCO_ERP_PASSWORD=08041977

# Flask Web Server Settings
FLASK_HOST=0.0.0.0
FLASK_PORT=5001
FLASK_DEBUG=True

# Supabase Online Database Settings
SUPABASE_URL=https://ykksfdiyczolhqnduwkh.supabase.co/rest/v1
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlra3NmZGl5Y3pvbGhxbmR1d2toIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTA3ODk0OCwiZXhwIjoyMDk2NjU0OTQ4fQ.67jORriOLnHf0WGcYtxr4dQkgFPw7JZEJm8xlfysWFM

# Google Sheets Configuration
GOOGLE_SHEET_KEY=17_yzOhhdSy0EQAqLpfuXMPJazsgtlW7QspNvYJLI2Qk
GOOGLE_CREDENTIALS_PATH=D:\JIJO\information\Coach Position\credentials.json
